---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import Blogpost from "../components/Blogpost.astro";
const allPosts = await Astro.glob("./posts/*.md");
const pageTitle = "My Astro Learning Blog";
---

<body>
  <BaseLayout pageTitle={pageTitle}>
    <p>This is where I will post about my journey learning Astro.</p>
      <ul>
      {
        allPosts.map((post) => (
          <Blogpost url = {post.url}, title = {post.frontmatter.title}/>
        ))
      }
      </ul>
    
  </BaseLayout>
  <style>
    h1 {
      color: purple;
      font-size: 4rem;
    }
  </style>
</body>
